{% extends 'base.html.twig' %}

{% block body %}

<nav class="navbar navbar-dark bg-danger mb-4">
    <div class="container">
        <span class="navbar-brand">🍕 Pizza Express</span>
    </div>
</nav>

<div class="container">
    <h2 class="text-center mb-4">Notre Menu</h2>

    <div class="row">
        {% for pizza in pizzas %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow">
                    <img src="{{ pizza.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.name }}</h5>
                        <p class="card-text">{{ pizza.description }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <strong>{{ pizza.price }} €</strong>
                        <a href="#" class="btn btn-danger">+ Ajouter</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

